.navbar{
    background-color: aqua;
    font-size: 25px;
    font-family: Arial;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: aqua;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: aqua;
}
.carousel-inner{
    height: 85vh;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    background: rgb(0, 255, 255);
    opacity: 0.5;
    bottom: initial;
}
.card{
    margin: 20px;
}
.row{
    margin-top: 30px;
}
footer{
    margin-top: 20px;
    background-color: aqua;
    color: white;
    padding: 8px;
}